<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".AppIni"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstApplication"
        tools:targetApi="31">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.FirstApplication.NoActionBar" />

        <!-- Login/Registration Activity -->
        <activity
            android:name=".MainActivity12"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity android:name=".RegisterActivity" />

        <!-- Theory Activity -->
        <activity
            android:name=".TheoryActivity"
            android:exported="false"
            android:label="Теория" />

        <!-- Tests Activity -->
        <activity
            android:name=".TestsActivity"
            android:exported="false"
            android:label="Тесты" />

        <activity
            android:name=".TheoryDetailActivity"
            android:exported="false"
            android:label="Детали теории" />

        <activity
            android:name=".TestActivity"
            android:exported="false"
            android:label="Прохождение теста" />

        <activity
            android:name=".TestResultsActivity"
            android:exported="false"
            android:label="Результаты теста" />

        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="О приложении"
            />
    </application>
</manifest>
